# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
/Aoc2025/.vs
/Aoc2025/Aoc2025/obj
/.vs
/Aoc2025/AdventUtility/bin/Debug/net9.0
/Aoc2025/AdventUtility/obj
/Aoc2025/Aoc2025/Input
/Aoc2025/Aoc2025/Test
/Aoc2025/Aoc2025/bin/Debug/net9.0
